<div class="ui horizontal divider">
    Squire Rich Text Editor
</div>
<div class="ui container segment">
    <div class="ui two column middle grid">
        <div class="column">
          {{rich-text-editor
            value=value
            textContent=textContent
            count=count
            editorLinkValue=editorLinkValue
            maxLength=100
          }}
        </div>
        <div class="ui vertical divider">{{count}}</div>
        <div class="column"><br><br>
            <div class="ui horizontal divider">
                Description Content
            </div>
            {{{value}}}
        </div>
    </div>
</div>

