<form class="ui large form">
    <div class="field">
        <label>Enter a valid URL</label>
        <div class="ui fluid labeled input">
            <div class="ui label">
                http://
            </div>
          {{input value=controller.linkValue}}
        </div>
    </div>
</form>